* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #545e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.light-mode {
  --color-primary: #f4f6f3;
  --color-secondary: #5eb00c;
  --color-white: #1b1b1c;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #ffffff;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #36343458;
  --color-grey-6: #12181b;
 
}

body {
  background-color: var(--color-primary);
  
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  
}

header {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controlls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controlls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.controlls .active-btn i {
  color: var(--color-white) !important;
}
.controlls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controlls .control:hover{
  box-shadow: 7px 7px 23px rgba(14, 117, 0, 0.881);

  animation: comeForward 0.6s forwards;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.6s;
}

@keyframes comeForward {
  0% {
      transform: translateZ(0) rotate(0deg);
  }
  50% {
      transform: translateZ(30px) rotate(15deg);
  }
  100% {
      transform: translateZ(50px) rotate(0deg);
  }
}
.controlls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

.theme-btn {
  z-index: 10;
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

/*Header-content*/
.header-content {
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  z-index: 10;
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.header-content .left-header .image {
  z-index: 1;
  border-radius: var(--br-sm-2);
  height: 80%;
  width: 60%;
  margin-right: -40%;
  margin-left: 8rem;
  background-color: var(--color-black);
  transition: all 0.4s ease-in-out;
  border: 3px solid #27ae5fa6;
  box-shadow: 3px 7px 17px rgba(0, 160, 61, 0.54);
 

}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
  z-index: 10;
}
.header-content .right-header {
  display: flex;
  z-index: 10;
  
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
}
.header-content .right-header .name {
  font-size: 3rem;
  z-index: 10;
 
}
.header-content .right-header .name span {
  color: var(--color-secondary);
  z-index: 10;
}
.header-content .right-header h2 {
  margin-top: 50px;
 
  z-index: 15;
  font-size: 1.9em;
}
.typing-animation {
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(40, end) forwards;
  font-size: 1.9em; /* This makes it an h3 size */
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.typ{
  margin-top: -99px;
  padding-left:130px;
  margin-right: -150px;
  margin-bottom: 90px;
  color: var(--color-secondary);
  z-index: 10;
}

/*About*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-container .right-about .about-item {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 3px 2px 14px rgb(255, 255, 255);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 2px solid var(--color-grey-3);
  box-shadow: 5px 7px 19px rgb(0, 0, 0);
}
.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about p {
  line-height: 3rem;
  padding: 1rem;
  color: var(--color-grey-1);
}
.about-container .left-about h4 {
  font-size: 2rem;
  color: var(--color-secondary);
  text-transform: uppercase;
}
.btn-con{
  padding-top: 10%;
}

/* timeline */
#experience {
  padding: 60px 0 10px 0;
  
  text-align: center;
  position: relative;
}

#experience h2 {
  font-size: 2.5em;
  margin-bottom: 46px;
  margin-bottom: -2%;
  color: var(--color-secondary);
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  padding-top: 20%;
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  border-left: 1px solid var(--color-grey-5);
  opacity: 0;
  transform: translateY(150px) rotateY(90deg);
  transition: all 1s ease-out;
}

.timeline-item.left {
  left: 0;
}
.timeline-item.left2 {
  left: 60%;
}
.timeline-item.right {
  left: 70px;
}

.timeline-item.in-view {
  opacity: 1;
  transform: translateY(0) rotateY(0deg);
}

.timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.timeline-item.left .tl-icon i {
  font-size: 1.3rem;
}

.timeline-item.right .tl-icon {
  right: -27px;
}

.timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-secondary);
}

.timeline .timeline-item h5 span {
  color: var(--color-grey-1);
  font-weight: 500;
  font-size: 1.3rem;
}

.timeline .timeline-item p {
  color: var(--color-grey-1);
}

.timeline-item:hover {
  transform: translateY(-10px) rotateY(0deg);
  transition: all 0.3s ease-out;
  box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.963);
}

@media screen and (max-width: 600px) {
  .timeline {
    grid-template-columns: 1fr;
  }

  .timeline-item {
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-item.right {
    left: 0;
  }

  .timeline-item.left .tl-icon,
  .timeline-item.right .tl-icon, 
  .timeline-item.left2 .tl-icon{
    left: 18px;
  }
}




/* skills */
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 10%;
  margin-left: 5%;
}



.techskil{
  margin-top: 15px;
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: -40px;    
}
.skill {
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width:450px;
  height: 200px;
  transition: all 0.5s ease;
  box-shadow: 0px 7px 5px var(--color-white);
}
.skill:hover{
  
  transform: translateY(-5px);
  border: 2px solid var(--color-grey-3);
  box-shadow: 0px 17px 29px var(--color-black);
}
.skill img {
  width: 680px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.skill .content {
  background-color:#404641;
 
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  right: -100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;
  width: calc(100% - 190px); /* Adjusted width */
}
.skill:hover .content {
  right: 0;
}
.progress-container {
  background-color: #242d3bec;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
  width: 100%;
  height: 20px;
  
}
.progress {
  height: 100%;
  background-color:var(--color-secondary);
  width: 0;
  transition: width 1s;
}
.percentage {
  font-size: 24px;
}
/* /CERTI */
.ccontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  perspective: 1000px;
  margin-top: 20%;
  
}
.certi{
  text-align: center;
  color: var(--color-secondary);
  margin-top: 13%;
  margin-bottom: -9%;
  
  
}
.ccard {
  width: 450px;
  height: 370px;
  margin-left: 7%;
 
  border-radius: 10px;

  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
}
.ccard:hover {
  transform: rotateY(180deg);
  box-shadow: 0px 17px 24px var(--color-white);
}
.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}
.card-content.front {
  background-color: #fff;
}
.card-content.back {
  background-color:var(--color-secondary);
  color: #000000;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.card-title {
  font-size: 44px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 24px;
  text-align: center;
}
.ccard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* port */

.port-text {
 
  text-align: center;
  color: var(--color-white);
  margin-top: 4%;
  font-size: 20px;
 
}
.h2f{
  text-align: center;
  color: var(--color-secondary);
  margin-top: 3%;
}

.portfolios {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: 130%;
  margin-left: -16%;
}

.portfolio-item {
  position: relative;
  border-radius: 15px;
  width: 30%;

  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s, box-shadow 0.6s;
  transform-style: preserve-3d;
}

.portfolio-item:hover {
  transform: translateY(-10px) rotateY(10deg);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.912);
}

.portfolio-item img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.6s;
}

.portfolio-item:hover img {
  transform: scale(2.1) rotateZ(-15deg);
}

.hover-items {
  width: 100%;
  height: 100%;
  background-color: rgba(75, 99, 85, 0.775);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.6s ease-in-out;
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-black);
  margin-bottom: 1.5rem;
  transform: translateZ(20px);
  
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color:black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: white;
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}
/* contact */
.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-content-con .right-contact .i-c-2 {
  display: flex;
}
.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

/*Independent Component*/
.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.4s ease-out;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

@media screen and (max-width: 600px) {
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .section {
    padding: 2rem 2.5rem;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2.5rem;
  }
  .main-title h2 .bg-text {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1432px) {
  header {
    padding: 0 !important;
  }
  .section {
    padding: 7rem 11rem;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
  .portfolios {
    grid-template-columns: 1fr 1fr;
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 970px) {
  .section {
    padding: 7rem 6rem;
  }
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .controlls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controlls .control {
    margin: 0.3rem 1rem;
  }
}
@media screen and (max-width: 710px) {
  .section {
    padding: 7rem 3rem;
  }
  .about-stats .progress-bars {
    grid-template-columns: 1fr;
  }
  .main-title h2 {
    font-size: 3rem;
  }
  .main-title h2 span {
    font-size: 3rem;
  }
  .main-title h2 .bg-text {
    font-size: 4rem;
  }
}/*# sourceMappingURL=styles.css.map */